# Shared
NODE_ENV=development

# API
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vivanta_ops?schema=public
REDIS_URL=redis://localhost:6379
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
JWT_SECRET=dev-only-super-secret
JWT_EXPIRES_IN=1d
SEED_ADMIN_EMAIL=admin@vivanta.local
SEED_ADMIN_PASSWORD=ChangeMe123!
SEED_ADMIN_FIRST_NAME=System
SEED_ADMIN_LAST_NAME=Admin

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
